.aclErrorPage {
    flex: auto;
    flex-flow: column;
    text-align: center;

    display: flex;
    overflow: auto;
}

.aclErrorPage h1{
    color : red;
    padding: 5%;
}

.aclErrorPage img {
    object-fit: contain;
    max-width: 50%;
    margin: 2% auto;
}