.beerResults {
    display: flex;
    flex-flow: column;
    text-align: center;
    flex: 1;
    overflow: auto;
}

.beerResults > h1 {
    font-size: 1.5rem;
    margin: 2%;
}

.beerResults > ul {
    overflow: auto;
}

.searchScreenSearch {
    margin-bottom: 1%;
}