.brewerPage {
  display: flex;
  flex-flow: column;
  text-align: center;
  flex: 1;
  overflow: hidden;

  background: url("../../assets/stainless-steel-beer-dispenser-159291.jpg");
  background-size: cover;
}

.brewerPage h1 {
  padding: 3%;
}

.brewerPageTextSectionDiv {
  margin-bottom: 1%;
}

.brewerPageDiv {
  background-color: rgba(255,255,255,0.9);
  margin: 0 15%;
  overflow: auto;
}

