.friends {
    flex: auto;
    text-align: center;
}

.searchFriends {
    border: 1px solid black;
    padding: 2%;
}

.searchFriends > button{
    padding: 1%;
}

.searchFriends > input {
    width: 40%;
    padding: 1%;
}

.friendSection * {
    margin : 1%;
}

.friendSection ul {
    list-style: none;
}