#groupsPage {
  flex: 1;
  display: flex;
  text-align: center;
  overflow: auto;
  flex-direction: column;
  padding: 0 10%;

}

#groupsPage > h1 {
  margin : 2%;
}

.makeNewGroupDiv {
  padding: 0 2%;
  overflow: visible;
  margin-bottom: 2%;
}

.makeNewGroupDiv > button {
  float: right;
  padding: 1% 2%;
}

#groupsPage > ul {
  list-style: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#groupsPage > ul > li {
  border : 1px black solid;
  margin: 1% auto;
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  background: white;
  width: 50rem;
}

#groupsPage > ul > li > a {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding : 1% 2%;
  color: black;
  text-decoration: none;
}
