.profileScreen {
    flex: 1;
    display: flex;
    text-align: center;
    overflow: auto;
    perspective: 40px;
    overflow-y: hidden;
}

.profileScreenCardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.checkedInBeersProfile {
    padding : 3%;
    flex: 3;
    overflow: auto;
}

.checkedInBeersProfile > ul {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.profileUserAppContent {
    padding: 2rem 0 0;
    border-radius: 40px;
    height: 50%;
    background: #172A3A;
}

.upperSectionProfileCard{
    padding: 1rem;
    height: 50%;
    border-bottom: 2px #FCC414 solid;
    border-radius: 40px;
    background: #03256C;
}

.upperSectionProfileCard > h1 {
    margin-bottom: 5%;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upperSectionProfileCard  > img{
    object-fit: cover;
    height : 8rem;
    width : 8rem;
    margin: auto;
    border-radius: 10px;
    border: 2px #FCC414 solid;
}

.profileTable {
    text-align: left;
    width: auto;
    margin: auto;
}

.profileTable > tbody > tr:first-child {
    width: 30%;
}

.profileCard {
    height: 29rem;
    width: 21rem;
    perspective: 600px;
    color: white;
    margin: 2rem 4rem 0;
    border-radius: 40px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 40px;

    &:hover{
        cursor: pointer;
    }
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    transform: rotateY( 180deg );
    background-color: #172A3A;
    border-radius: 40px;
    border: #FCC414 5px solid;
    padding: 2rem 0;

    position: absolute;
    height: 100%;
    width: 100%;
}

.card.is-flipped{
    transform: rotateY(180deg);
}

.card__face--front {
    background-color: #172A3A;
    border-radius: 40px;
    border: #FCC414 5px solid;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card__face--back > img{
    object-fit: cover;
    height : 11rem;
    width : 10rem;
    margin-bottom: 2rem;
}

.checkinDiv{
    position: relative;
    margin-bottom: 2%;
}

.checkinDiv h1{
    font-size: 2em;
}

.checkinDiv a {
    position: absolute;
    border: black solid 2px;
    background: white;
    padding: 0.2rem 0.4rem;
    right: 0;
    color: black;
    text-decoration: none;
}


