.profileScreen {
    flex: 1;
    display: flex;
    text-align: center;
    overflow: auto;
}

.leftColumnProfile {
    padding : 2% 4% 10%;
    background-color: #03256C;
    color: white;
    margin: 5% 2% auto 1%;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    flex: 1;
}

.leftColumnProfile > h1 {
    margin-bottom: 20%;
    font-size: 1.5em;
}

.leftColumnProfile > img{
    object-fit: cover;
    height : 100px;
    width : 100px;
    margin-bottom: 20%;
}

.checkedInBeersProfile {
    padding : 3%;
    flex: 3;
    overflow: auto;
}

.checkedInBeersProfile > ul {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

