/*
* Nav bar
*/
#navBar {
    flex: none;
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
}
  
.navBarOptionContainer {
    float: left;
}

.navBarOptionContainerLast{
    float: right;
}
  
.navBarOptionContainer a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBarOptionContainerLast a {
    display: block;
    color: white;
    background-color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navBarOptionContainer a:hover , .navBarOptionContainerLast a:hover{
    background-color: darkgray;
}

.navBarSearch {
    float: right;
    margin-right: 1%;
}