.profileScreen {  
    flex: auto;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.leftColum {
    padding : 3%;
    background-color: black;
    color: white;
    float: left;
    width: 50%;
}

.leftColum > h1 {
    margin-bottom: 5%;
}

.leftColum > img{
    object-fit: cover;
    height : 100px;
    width : 100px;
    margin-bottom: 5%;
}

.column {
    padding : 3%;
    float: left;
    width: 50%;
    overflow-y: scroll;
}
  
.row{
    flex: auto;
    display: flex;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



